include requirements.txt
recursive-include src/uagent/tools *
recursive-include src/uagent/prompts *
recursive-include src/uagent/static *
recursive-include src/uagent/templates *
recursive-include src/uagent/docs *

# Exclude local test code from sdist
prune test
prune tests

global-exclude __pycache__
global-exclude *.py[co]
global-exclude .DS_Store
global-exclude *.org
global-exclude *.org[0-9]*
